
@{
    ViewData["Title"] = "Home Page";
}



<div id="intro" class="carousel slide" data-ride="carousel" data-interval="10000">
    <!-- Indicators _ hvor mange slides -->
    <ul class="carousel-indicators">
        <li data-target="#intro" data-slide-to="0" class="active"></li>
        <li data-target="#intro" data-slide-to="1"></li>
        <li data-target="#intro" data-slide-to="2"></li>
        <li data-target="#intro" data-slide-to="3"></li>
    </ul>
    <!-- The slideshow legger til valgt bakgrunnsbilde og valgt illustrasjon i karusellen-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/index_photo/index_5.jpg" alt="1" width="1100" height="500">
            <div class="carousel-caption">
                <img src="/images/index_photo/logo.png" style="width: 20em">       
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/index_photo/index_5.jpg" alt="2" width="1100" height="500">
            <div class="carousel-caption">
                <img src="/images/index_photo/delelister.png" style="width: 20em">
                <br></br>
                <br></br>
                <h6>Her kan du opprette dine ønskelister og dele dem med hvem du vil.
                    Enten det er bursdag, dåp eller kanskje bryllup
                    så er Ønskelista alt du trenger</h6>
            </div>
        </div> 
        <div class="carousel-item">
            <img src="/images/index_photo/index_5.jpg" alt="2" width="1100" height="500">
            <div class="carousel-caption">
                <img src="/images/index_photo/vennelister.png" style="width: 20em">
                <br></br>
                <br></br>
                <h6>Du vil i Ønskelista få full oversikt over dine egne lister og dine venners delte lister</h6>
            </div>
        </div>        
        <div class="carousel-item">
            <img src="/images/index_photo/index_5.jpg" alt="2" width="1100" height="500">
            <div class="carousel-caption">
                <img src="/images/index_photo/remove_add.png" style="width: 20em">
                <br></br>
                <br></br>
                <h6>Det er enkelt å legge til venner </h6>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#intro" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#intro" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <a class="carousel-control-next" href="#intro" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <a class="carousel-control-next" href="#intro" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
   
