@{
    ViewData["Title"] = "Personvernregler";
}
<h1>@ViewData["Title"]</h1>

<p>Når du oppretter bruker hos ønskelista.xyz, vil vi ta vare på informasjon som du gir oss. Det vil være navn, fødselsdato,
    profilbilde og informasjon
    du evt. velger å dele med andre brukere eller oss i denne applikasjonen. Du kan selv velge om du vil laste opp eget profilbilde og hvilken informasjon
    du deler, utenom obligatorisk informasjon ved registrering av ny bruker. Informasjon om hvem du venn med, hvilket ønskelister og produkter
    du legger til, vil bli lagret i våre databaser og vi vil få tilgang til denne informasjon.</p>
